.channelTitles {
    background-color: #000;
    .channelTitles__content {
        width: 85%;
        margin: auto;
        .channelTitles__item {
            padding: 0 $pd-1 - 1;  
            margin-bottom: $mg-1;          
            .channelTitles__img {
                position: relative;
                .channelTitles__link {
                    img {
                        width: 100%;
                    }
                    &::after {
                        position: absolute;
                        content: "";
                        height: 0;
                        width: 100%;
                        background: $color-blue-1;
                        display: block;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        transition: height 0.16s, opacity 0.16s;
                        opacity: 0;
                    }
                    &:hover::after {
                        height: 7px;
                        opacity: 1;
                    }
                }
            }
        }
    }
}
